<nav class="w-full h-[4.8rem] flex justify-between">
    <div class="w-[19%] h-full flex justify-center text-center mt-3 text-white text-3xl">SportsConnect</div>
    <div class="w-[70%] h-full flex justify-center">
        <ul class="flex justify-evenly w-full h-full">
            <li class="bg-[#02223c] w-[5rem] m-auto hover:cursor-pointer mt-3 p-2 flex justify-center border-2 text-[#f1f3f6d5] text-[0.9rem] border-[#fff8] rounded-lg h-auto"
                (click)="navigate(home)">Home</li>
            <li class="bg-[#02223c] w-[5rem] m-auto hover:cursor-pointer mt-3 p-2 flex justify-center border-2 text-[#f1f3f6d5] text-[0.9rem] border-[#fff8] rounded-lg h-auto"
                (click)="navigate(cart)">Cart</li>
            <li class="bg-[#02223c] w-[5rem] m-auto hover:cursor-pointer mt-3 p-2 flex justify-center border-2 text-[#f1f3f6d5] text-[0.9rem] border-[#fff8] rounded-lg h-auto"
                (click)="navigate(store)">Store</li>
            <li class="bg-[#02223c] w-[5rem] m-auto hover:cursor-pointer mt-3 p-2 flex justify-center border-2 text-[#f1f3f6d5] text-[0.9rem] border-[#fff8] rounded-lg h-auto"
                (click)="navigate(blog)">BLog</li>
            <li class="bg-[#02223c] w-[5rem] m-auto hover:cursor-pointer mt-3 p-2 flex justify-center border-2 text-[#f1f3f6d5] text-[0.9rem] border-[#fff8] rounded-lg h-auto"
                (click)="navigate(faqs)">Faqs</li>
        </ul>
    </div>
</nav>